<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<div class="Container">
    <form id="login" @submit.prevent="sendPost">
        <!-- form ?•ˆ?— ?žˆ?œ¼ë©? ?˜¤ë¥? ?‚¨.-->
        <div class="form-group" style="margin:40px;">
            <div class="form-group">
                <label for="userId">Your ID</label>
                <input type="input" class="form-control" id="userId" v-model="id" aria-describedby="idHelp" placeholder="ID">
                <small id="idHelp" class="form-text text-muted">Insert your Id here.</small>
            </div>
            <div class="form-group">
                <label for="passId">Password</label>
                <input type="password" class="form-control" id="passId" v-model="password" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button class="btn btn-primary">Login</button>
            <button class="btn btn-primary">Login2</button>
        </div>
    </form>
</div>
<script>

    var login = new Vue({
        el: "#login",
        data: {
            id: "",
            password: ""
        },
        methods: {
            login: function () {
                window.location.href = '/main';
            },
            sendPost: function () {
                axios.post('/login', {
                    id : this.id,
                    pass : this.password
                })
                    .then(function (res) {
                        console.log(res.data)
                    }, function () {
                        console.log('failed')
                    })
            }
        }
    })
</script>